body {
  font-family: Arial, Helvetica;
  background-color: #CFD2CD;
  margin: 0;
}

main{
  background-color: #CFD2CD;
}

header {
  background-color: #283845;
}

nav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #202C39;
 }

nav a {
  float: left;
  width: auto;
  display: block;
  color: #FBFBF2;
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
}

nav a:hover {
  color: #aaaa;
}

.active {
  color:#aaaa;
  font-weight: bold;
}

.half{
  width:50%;
	float:left;
	text-align:center;
}

.third{
	width:33.3%;
	float:left;
	margin-top:25px;
	text-align:center;
}

.third p{
  margin: 0 60px;
}

tr, td, th {
  border: 2px solid rgb(0, 0, 0);
}

footer {
  background-color:#202C39;
  text-align: center;
  color: #FBFBF2;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
}

footer a{
  color: #FBFBF2;
  text-decoration:none;
}

.odkaz{
  color:black;
}

.odkaz:hover{
  color:#283845;
}

@media screen and (max-width: 1950px) {
  nav a{
    padding: 15px 90px;
  }
}
@media screen and (max-width: 1800px) {
  nav a{
    padding: 15px 80px;
  }
}
@media screen and (max-width: 1700px) {
  nav a{
    padding: 15px 70px;
  }
}
@media screen and (max-width: 1600px) {
  nav a{
    padding: 15px 60px;
  }
  .third{
    width: 100%;
  }
}
@media screen and (max-width: 1500px) {
  nav a{
    padding: 15px 50px;
  }
}
@media screen and (max-width: 1400px) {
  nav a{
    padding: 15px 40px;
  }
}
@media screen and (max-width: 1300px) {
  nav a{
    padding: 15px 30px;
  }
}
@media screen and (max-width: 1200px) {
  nav a{
    padding: 15px 20px;
  }
}
@media screen and (max-width: 1100px) {
  nav a{
    padding: 15px 10px;
  }
  .half{
    width: 100%;
  }
}
